.container-top-form {
  margin: 8vh auto;
  h2 {
    text-align: center;
  }
}

.stepbar {
  width: 70vw;
  margin: auto;
  display: block;
}

.form {
  margin: 8vh auto;
  h2 {
    text-align: center;
    margin-bottom: 40px;
  }
}

.input-form {
  border: none;
  background-color: #eaf6fb;
  border-radius: 5px;
  padding: 10px 15px;
  height: 45px;
}

.privacy-link {
  justify-content: flex-start;
  a {
    color: $gray;
    margin-right: 10px;
    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

.check_box {
  display: none;
}

.check-button {
  background-color: lightgray;
  color: white;
  height: 45px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 20px;
  width: 160px;
  text-align: center;
  margin: 10px 20px;
}

.checked {
  background-color: #52d4e8 !important;
}

.checkboxes {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 900px) {
  .stepbar {
    width: 85vw;
  }
}

@media only screen and (min-width: 900px) {
  .stepbar {
    width: 60vw;
  }
  .form-inputs {
    padding: 0px 250px 30px 250px;
  }
}
