.stepbar {
  width: 70vw;
  padding-top: 50px;
  margin: auto;
  display: block;
}

.form {
  margin: 8vh auto;
}

.input-form {
  border: none;
  background-color: #eaf6fb;
  border-radius: 5px;
  padding: 10px 15px;
  height: 45px;
}

