.first-screen {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  .home-img {
    width: 620px;
    padding-left: 60px;
    margin-right: 70px;
    margin-bottom: 100px;
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    color: #656565;
  }
}

h2 {
  font-size: 22px;
}

#width-490 {
  width: 490px;
}

.header {
  margin-left: 100px;
  padding-top: 45px;
}

body {
  color: $gray;
  background-color: white;
  font-family: $body-font;
}

.background1 {
  position: absolute;
  left: 0;
  height: 770px;
  z-index: 0;
}

.cards {
  padding-top: 40px;
  margin: 50px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    text-align: center;
  }
}

.screen-2 {
  margin-top: 25vh;
  margin-bottom: 20vh;
}

.number {
  width: 50px;
  margin-bottom: 20px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.boxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.why {
  padding: 25px 70px;
}

.blue {
  color: $primary-color !important;
}

.box {
  border-radius: 10px;
  margin: 40px 40px;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h3 {
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  p {
    height: 100px;
    font-size: 14px;
  }
  img {
    width: 40px;
    display: block;
    margin: 10px auto;
  }
  i {
    color: $primary-color;
    font-size: 40px;
  }
}

.text {
  height: 20vh;
}

.m-auto {
  margin: 20px auto;
}

.btn-check {
  background-color: $primary-color;
  padding: 10px 20px;
  display: flex;
  width: 290px;
  border:none;
  justify-content: center;
  color: white;
  border-radius: 45px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 2px 2px 7px 4px #bce6f06e;
  &:hover {
    box-shadow: 0px 1px 2px 1px #e7f5f96e;
    color: white;
    text-decoration: none;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

#powered {
  color: lightgray;
  font-size: 14px;
  img {
    margin-bottom: 2px;
    width: 90px;
  }
}

.logos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px;
}

.links {
  display: flex;
  flex-direction: column;
}

.logo-partner {
  width: 180px;
  margin: 10px 35px;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.admin {
  h3 {
    font-size: 18px;
    color: $primary-color;
  }
  .admin-card {
    margin-top: 20px;
    box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.5);
    padding: 20px 40px;
    width: 300px;
  }
}

.confirmation-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 15vh;
  p {
    padding-bottom: 40px;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .box {
    max-width: 50vw;
  }
  .card {
    max-width: 45vw;
  }
}

@media only screen and (min-width: 900px) {
  .box {
    max-width: 25vw;
  }
  .card {
    max-width: 15vw;
  }
}


@media only screen and (min-width: 1200px) {
  .box {
    max-width: 20vw;
  }
}
