<div class="container">
  <div class="confirmation-page">
    <h2><%= t("thanks") %></h2>
    <p><%= t("done") %></p>
    <%= image_tag "confirmation.svg", width: 500 %>
    <%= link_to t("back"), root_path, class: "btn-check" %>
  </div>
</div>
