<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
  <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
  <TITLE></TITLE>
  <META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
  <META NAME="AUTHOR" CONTENT="Henri Paris">
  <META NAME="CREATED" CONTENT="20200210;142900000000000">
  <META NAME="CHANGEDBY" CONTENT="Henri Paris">
  <META NAME="CHANGED" CONTENT="20200210;171200000000000">
  <META NAME="AppVersion" CONTENT="16.0000">
  <META NAME="DocSecurity" CONTENT="0">
  <META NAME="HyperlinksChanged" CONTENT="false">
  <META NAME="LinksUpToDate" CONTENT="false">
  <META NAME="ScaleCrop" CONTENT="false">
  <META NAME="ShareDoc" CONTENT="false">
  <STYLE TYPE="text/css">
  <!--
    @page { margin: 1in }
    P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
    A:link { color: #0563c1; so-language: zxx }
  -->
  </STYLE>
</HEAD>
<BODY LANG="en-GB" LINK="#0563c1" DIR="LTR">
  <div class="container" style="padding: 40px 5px;">
  <P STYLE="margin-bottom: 0in"><B>Ichiba Privacy Policy</B></P>
  <P STYLE="margin-bottom: 0in"><BR>
  </P>
  <UL>
    <LI><P STYLE="margin-bottom: 0in">General</P>
  </UL>
  <P STYLE="margin-bottom: 0in">Ichiba provides this Privacy Policy to
  the website visitors, users, and businesses that access services
  provided by or through Ichiba (collectively, “you” or “your”).
  This Privacy Policy applies when you access this website and
  describes how we collect, store, use, share, and protect information
  about you to operate and make available business financial products
  and services (the “Services”). This Privacy Policy also describes
  your choices regarding certain information we collect about you.</P>
  <P STYLE="margin-bottom: 0in"><BR>
  </P>
  <UL>
    <LI><P STYLE="margin-bottom: 0in">Information Collected</P>
  </UL>
  <P STYLE="margin-bottom: 0in">In connection with your use of the
  Services, we collect three types of information about you: Business
  Information, User Information, and General Information. Information
  from any of these categories may be linked with other information
  that we collect about you.</P>
  <UL>
    <OL>
      <LI><P STYLE="margin-bottom: 0in"><U>Business Information</U>.
      Business Information includes information regarding businesses that
      use or otherwise access the Services (“<U>Customers</U>”).
      Business Information may also include information about your
      customers (i.e., businesses that have a commercial relationship or
      otherwise transact with Customers) if collected in connection with
      such Customer’s use or access of the Services. Business
      Information includes, but is not limited to (i) business name,
      address, email, and telephone number, (ii) company structure, (iii)
      industry type, (iv) incorporation date, (v) annual revenue, (vi)
      bank account information (e.g., average bank balance, bank
      statements, credit card statements), (vii) marketplace account
      information (e.g., transactions on PayPal, Shopify, Amazon), (viii)
      payment information (e.g., payment history, merchant category code,
      payment card number), (ix) accounting information (e.g.,
      Quickbooks), (x) information regarding our transactions and
      experiences with the business, and (xi) beneficial ownership
      information.<BR><BR>
      </P>
      <LI><P STYLE="margin-bottom: 0in"><U>User Information</U>. User
      Information includes information about the owners, principals, and
      business representatives, such as: name, job title, username(s),
      mailing address, email address, primary telephone number, date of
      birth and social security number. In addition, if you make payments
      through the Services, we may also collect information about your
      customers, such as payments or invoicing information, so you can
      access the Services.<BR><BR>
      </P>
      <LI><P STYLE="margin-bottom: 0in"><U>General information</U>.
      General Information includes technical information such as
      information regarding your use of and interactions with this
      website. This General Information includes, but is not limited to,
      information about (i) your Internet connection, (ii) the equipment
      you use to access the Sites and usage details, (iii) your operating
      system, browser version and internet protocol (IP) address, (iv)
      your mobile device type, your device’s unique identifier, and
      your mobile network information, and (v) web pages, content,
      communications, or advertisements that you view or otherwise
      interact with, and (vi) referring/exit pages, clickstream data, and
      information that you search for using the Services.</P>
    </OL>
  </UL>
  <P STYLE="margin-bottom: 0in"><BR>
  </P>
  <UL>
    <LI><P STYLE="margin-bottom: 0in">How We Collect Your Information</P>
    <OL>
      <LI><P STYLE="margin-bottom: 0in"><U>Information Provided by You</U>.
      We collect any information you provide when you use the Services.
      For example, we collect User Information and Business Information
      from you when you register an account. The Services allow
      us, upon your direction, to obtain User Information and Business
      Information from third party entities that your business maintains
      accounts with such as financial institutions, service providers, and
      social networking services.
      </P>
    </OL>
  </UL>
  <UL>
    <OL START=2>
      <LI><P STYLE="margin-bottom: 0in"><U>Information We Collect When
      You Use Our Services</U>. We automatically collect General
      Information from your computer, mobile device or other device you
      use when you access the Services (including downloading and using a
      mobile application or accessing a mobile optimized Site), view
      content about the Services on a third-party website or open emails
      or links in emails from us. We, our business partners, or our
      service providers may use cookies or similar technologies to
      collect information. Cookies are small text files containing a
      string of alphanumeric characters. We may use both session cookies
      and persistent cookies. A session cookie disappears after you close
      your browser. A persistent cookie remains after you close your
      browser and may be used by your browser on subsequent visits to the
      Services. We also use cookies and similar technologies hosted by
      third parties on the Services. For instance, we use Google
      Analytics to collect and process certain analytics data. Google
      provides some additional privacy options described
      at&nbsp;<A HREF="https://www.google.com/policies/privacy/partners/">www.google.com/policies/privacy/partners/</A>&nbsp;regarding
      Google Analytics’ cookies. We may receive reports based on the
      use of these technologies by such companies on an individual and
      aggregated basis.</P>
    </OL>
  </UL>
  <UL>
    <OL START=3>
      <LI><P STYLE="margin-bottom: 0in"><U>Information Received from
      Third Parties</U>. In the course of providing the Services, we may
      also collect additional Business Information or User Information
      from third parties, including, but not limited to: financial
      institutions, accounting companies, payment companies, referral
      partners, identity verification services, card networks, vendors,
      mailing list providers, consumer reporting agencies, commercial
      credit bureaus and associations, fraud prevention agencies, and
      publicly available sources. We may combine this information with
      information we already have about you.</P>
    </OL>
  </UL>
  <P STYLE="margin-bottom: 0in"><BR>
  </P>
  <UL>
    <LI><P STYLE="margin-bottom: 0in">Use of Information</P>
    <OL>
      <LI><P STYLE="margin-bottom: 0in"><U>Service-Related Usage</U>. We
      use the information we collect about and from you, both in a
      personally-identifiable form and in an aggregated or anonymized
      form, for a number of purposes, including for providing,
      supporting, promoting, and improving the Services. Such uses
      include:
      </P>
      <OL TYPE=a>
        <LI><P STYLE="margin-bottom: 0in">Enabling users to access
        products and services through the Services;</P>
        <LI><P STYLE="margin-bottom: 0in">Facilitating marketing,
        processing, servicing, and collections activities;</P>
        <LI><P STYLE="margin-bottom: 0in">Providing customer support;</P>
        <LI><P STYLE="margin-bottom: 0in">Understanding, customizing, and
        enhancing user experience;</P>
        <LI><P STYLE="margin-bottom: 0in">Providing targeted marketing and
        advertising;</P>
        <LI><P STYLE="margin-bottom: 0in">Determining your eligibility for
        the Services;</P>
        <LI><P STYLE="margin-bottom: 0in">Verifying your identity,
        conducting appropriate diligence, and keeping your information
        current;</P>
        <LI><P STYLE="margin-bottom: 0in">Creating an account connection
        between your account and a third-party account or platform;</P>
        <LI><P STYLE="margin-bottom: 0in">Sending notifications and
        information regarding the Services;</P>
        <LI><P STYLE="margin-bottom: 0in">Measuring and improving the
        performance and functionality of the Sites;</P>
        <LI><P STYLE="margin-bottom: 0in">Managing and protecting our
        information technology infrastructure;</P>
        <LI><P STYLE="margin-bottom: 0in">Administering and managing the
        security of the Sites;</P>
        <LI><P STYLE="margin-bottom: 0in">Developing new products and
        services; and</P>
        <LI><P STYLE="margin-bottom: 0in">Compiling, using, researching,
        analyzing, and generating data analytics reports to better
        understand our Customers and to improve the Services.</P>
      </OL>
    </OL>
  </UL>
  <P STYLE="margin-bottom: 0in">
  </P>
  <UL>
    <OL START=2>
      <LI><P STYLE="margin-bottom: 0in"><U>Communications</U>. We may
      communicate with you using the information collected (i) for
      customer service, (ii) to provide you with updates or information
      relating to the Services, or (iii) to conduct surveys and collect
      feedback about the Services.</P>
    </OL>
  </UL>
  <P STYLE="margin-left: 1in; margin-bottom: 0in">
  </P>
  <UL>
    <OL START=3>
      <LI><P STYLE="margin-bottom: 0in"><U>Marketing and Advertising</U>.
      We may use the information we collect for marketing and advertising
      purposes. These purposes may include communicating with you about
      our products and services, or products and services offered by or
      through our business partners (including our bank partners),
      including but not limited to providing you with promotional
      materials that may be useful, relevant, valuable, or otherwise of
      interest to you, and inviting you to participate in events or
      surveys. Where required under applicable law, we will obtain your
      prior opt-in consent to send you electronic marketing
      communications.</P>
    </OL>
  </UL>
  <P STYLE="margin-bottom: 0in">
  </P>
  <UL>
    <OL START=4>
      <LI><P STYLE="margin-bottom: 0in"><U>Compliance with Law and Our
      Own Obligations</U>. We may use the information we collect, to the
      extent permitted or required under applicable laws (i) to enforce
      our Terms of Service or other legal rights, including intellectual
      property infringement, (ii) to detect and protect against
      potentially prohibited or illegal activities, including fraud and
      unauthorized access, (iii) in response to lawful requests for
      information or legal process, (iv) to establish, exercise, or
      defend a legal claim, and (v) to comply with our contractual
      obligations, our policies, industry standards, and applicable laws.</P>
    </OL>
  </UL>
  <UL>
    <OL START=5>
      <LI><P STYLE="margin-bottom: 0in"><U>Other Purposes</U>. We may use
      the information we collect for other purposes for which we provide
      notice to you at the time of collection or for which we obtain your
      consent.</P>
    </OL>
  </UL>
  <UL>
    <OL START=6>
      <LI><P STYLE="margin-bottom: 0in"><U>Aggregate Data</U>. We may
      process your information in an anonymized or aggregated form for
      purposes other than described above.</P>
    </OL>
  </UL>
  <P STYLE="margin-bottom: 0in"><BR>
  </P>
  <UL>
    <LI><P STYLE="margin-bottom: 0in">Information Sharing</P>
  </UL>
  <P STYLE="margin-bottom: 0in">We may share Business Information, User
  Information, and General Information as follows:</P>
  <UL>
    <OL>
      <LI><P STYLE="margin-bottom: 0in"><U>Service Providers</U>. We
      engage service providers to assist us in providing Services. These
      service providers may provide services such as financing, insurance
      services, fraud prevention, cloud computing, cybersecurity,
      identity verification, credit checks, collections, and payment
      processing. We share the information you select with and amongst
      your Service Providers under your conditions.</P>
    </OL>
  </UL>
  <UL>
    <OL START=2>
      <LI><P STYLE="margin-bottom: 0in"><U>As Required By Law and Similar
      Disclosures</U>. We may disclose your information if we believe
      doing so is required or appropriate to (i) comply with applicable
      laws, regulations, and card association rules, (ii) comply with
      regulatory investigations, enforcement requests, and legal process,
      such as subpoenas, court orders, and bankruptcy notices, (iii)
      respond to your requests or resolve disputes or inquiries, (iv)
      detect, prevent, or otherwise address fraud, confidentiality,
      security or technical issues, (v) respond to regulatory authorities
      jurisdiction over us for examinations, compliance, or other
      purposes, and (vi) protect your, our, or others’ rights,
      property, or safety, or the security or integrity of our Services.</P>
    </OL>
  </UL>
  <UL>
    <OL START=3>
      <LI><P STYLE="margin-bottom: 0in"><U>Aggregated or Anonymized
      Information</U>. We may sell, license or distribute information in
      anonymized or aggregated form so that the information does not
      identify a specific user, without restriction, including, but not
      limited to, for producing data analytics and reports for business
      partners or other third parties.</P>
    </OL>
  </UL>
  <UL>
    <OL START=4>
      <LI><P STYLE="margin-bottom: 0in"><U>Consent</U>. We may disclose
      your information to any third party with your consent. For example,
      we may disclose information at your direction, as described at the
      time you agree to share, or when you authorize a third-party
      application or website to access your information.</P>
    </OL>
  </UL>
    <UL>
    <OL START=5>
      <LI><P STYLE="margin-bottom: 0in"><U>Other Purpose</U>. To fulfill
      the purpose for which you provide such information to us or any
      other purpose disclosed by us when you provide the information to
      us.</P>
    </OL>
  </UL>
  <P STYLE="margin-bottom: 0in"><BR>
  </P>
  <UL>
    <LI><P STYLE="margin-bottom: 0in">Links to Third Party Websites</P>
  </UL>
  <P STYLE="margin-bottom: 0in">The Sites may include links to other
  websites or mobile applications whose privacy practices may differ
  from ours. We are not responsible for any practices employed on
  third-party websites or applications, including the information and
  content contained on the website or application. If you submit
  information to a third-party website or application, your information
  is governed by the third party's privacy policy. We encourage you to
  carefully read the privacy policy of any website or application you
  visit, access, or use.</P>
  <P STYLE="margin-bottom: 0in"><BR>
  </P>
  <UL>
    <LI><P STYLE="margin-bottom: 0in">Security of Information</P>
  </UL>
  <P STYLE="margin-bottom: 0in">We take reasonable measures, including
  administrative, technical, and physical safeguards to protect your
  information from loss, misuse, unauthorized access, disclosure,
  alteration, and destruction. These security measures include
  firewalls, data encryption, physical access controls to our data
  centers, and information access authorization controls. Your
  information is securely sent to us with at least 128 bit-encryption
  over the Transport Layer Security (TLS) protocol. This creates an
  encrypted connection between your browser and us so that any
  sensitive information you provide can be securely transmitted.
  Unfortunately, the Internet cannot be guaranteed to be 100% secure,
  and we cannot ensure or warrant the security of any information you
  provide to us.</P>
  <P STYLE="margin-bottom: 0in">If you link your bank account
  information as a part of applying for or receiving the Services, we
  will have read-only access to such information. We do not have access
  to change, edit, or modify your information. We also cannot see your
  credentials (i.e., username and passwords). You are responsible for
  securing and maintaining the privacy of your credentials and account
  information. We are not responsible for protecting any information we
  share with a third-party based on an account connection that you have
  authorized.</P>
  <P STYLE="margin-bottom: 0in"><BR>
  </P>
  <UL>
    <LI><P STYLE="margin-bottom: 0in">Data Retention</P>
  </UL>
  <P STYLE="margin-bottom: 0in">We will retain your information for (i)
  as long as reasonably necessary to provide you Services, (ii) as long
  as reasonably useful for commercial purposes, or (iii) as long as
  necessary to comply with applicable laws and internal policies
  regarding recordkeeping, reporting, audits, and litigation holds. If
  you wish to request that we no longer use your information to provide
  you Services, you may contact us at the address or phone number at
  the bottom of this Privacy Policy. We will nonetheless retain your
  information to the extent that we deem necessary to comply with our
  legal or contractual obligations, resolve disputes, as needed to
  provide you Services, or for other business purposes.</P>
  <P STYLE="margin-bottom: 0in"><BR>
  </P>
  <UL>
    <LI><P STYLE="margin-bottom: 0in">Transfers to Other Countries</P>
  </UL>
  <P STYLE="margin-bottom: 0in">We may transfer information to other
  countries, for example, for customer service or to process
  transactions. We will protect your information as described in this
  Privacy Policy if your information is transferred to other countries.
  By using our Sites and Services, you consent to your information
  being transferred to other countries, including countries that have
  different data protection rules than your country. We do not
  represent that our Sites and Services are appropriate or available in
  any particular jurisdiction.</P>
  <P STYLE="margin-bottom: 0in"><BR>
  </P>
  <UL>
    <LI><P STYLE="margin-bottom: 0in">Changes to Privacy Policy</P>
  </UL>
  <P STYLE="margin-bottom: 0in">By visiting the Sites or using the
  Services, you accept the practices described in this Privacy Policy.
  We may update this Privacy Policy from time to time by making
  available a revised, dated version on the Sites. If the revised
  version includes a substantial change, we will provide a more
  prominent notice (including, for certain services, an email
  notification of Privacy Policy changes) prior to the change becoming
  effective. Your continued use of the Site shall constitute your
  acceptance of such updated Privacy Policy. We encourage you to
  periodically review this page for the latest information on our
  privacy practices.</P>
</div>
</BODY>
</HTML>
