.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 25px 40px;
  margin-top: 50px;
  font-size: 14px;
  color: $gray;
  a {
    color: $gray;
    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }
  i {
    font-size: 25px;
    margin-left: 10px;
  }
}
