<div class="footer">
  <div class="links">
    <%= link_to "Privacy", privacy_path  %>
  </div>
  <p>Copyright Ichiba 2020</p>
  <div>
    <% if user_signed_in? %>
      <p><%= link_to "Logout", destroy_user_session_path, method: :delete %></p>
    <% end %>
  </div>
</div>
